.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  border-radius: 50%;
  border: solid 4px red;
  cursor: pointer;
  transition: all 500ms ease-out;
}

.App-logo:hover {
  box-shadow: 2px 5px 10px 4px red;
  
  
}

footer{
    background-color: #1c2331;
}

hr{
  width: 80px;
  height: 2px;
  background-color: #7c4dff;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
